/* Set nav to sticky or fixed */
/* Add a black background color to the top navigation */
.topnav {
  background-color:#FD7B35;
  overflow: hidden;
  position:sticky;
  top:0;

}

/* Style the links inside the navigation bar */
.topnav a { 
  float: left;
  color:#6E2802;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 15%;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #F0F7D4;
  color: black;
}